<div class="container card" style="width:50%; margin-top: 5%;">

  <div style="text-align: center;">
    <h1>Sign up</h1>
  </div>

  <div class="row">
    <div class="col-4">Firstname:</div>
    <div class="col">
      <input type="text" [(ngModel)]="NewUser.firstname" class="form-control form-control-sm" 
      [ngStyle]="{'border':NewUser.firstname.length==0?'1px solid red':'1px solid green'}"/>
    </div>
  </div>  
  <p class="text-danger"  *ngIf="NewUser.firstname.length==0">Firstname is required.</p>

  <div class="row">
    <div class="col-4">Lastname:</div>
    <div class="col">
      <input type="text" [(ngModel)]="NewUser.lastname" class="form-control form-control-sm" 
      [ngStyle]="{'border':NewUser.lastname.length==0?'1px solid red':'1px solid green'}"/>
    </div>
  </div>
  <p class="text-danger"  *ngIf="NewUser.lastname.length==0">Lastname is required.</p>
  
  <div class="row">
    <div class="col-4">Email:</div>
    <div class="col">
      <input type="email" [(ngModel)]="NewUser.email" class="form-control form-control-sm" (input)="validateEmail($event)"
      [ngStyle]="{'border':!emailisValid?'1px solid red':'1px solid green'}"/>
    </div>
  </div>
  <p class="text-danger"  *ngIf="!emailisValid">Email is not valid.</p>


 <div class="row">
    <div class="col-4">Address:</div>
    <div class="col">
      <input type="text" [(ngModel)]="NewUser.address" class="form-control form-control-sm" 
      [ngStyle]="{'border':(0<NewUser.address.length && NewUser.address.length<10)?'1px solid red':'1px solid green'}"/>
    </div>
  </div>
  <p class="text-danger"  *ngIf="0<NewUser.address.length && NewUser.address.length<10">Address must be at least 10 characters long.</p>

    <div class="row">
    <div class="col-4">Password:</div>
    <div class="col">
      <input type="password" [(ngModel)]="NewUser.password" class="form-control form-control-sm" (input)="PasswordRequirements($event)"/>
    </div>
  </div>

  <div class="row">
    <div class="col-4">Password confirmation:</div>
    <div class="col">
      <input type="password" [(ngModel)]="NewUser.passwordconfirmation" class="form-control form-control-sm" />
    </div>
  </div>


  <div class="row card">
    <div>
      <label [ngClass]="{'text-secondary': passwordlength==true, 'text-danger': passwordlength==false }" ><i class="fas fa-check-square"></i></label> 
      Password minimum 10 characters.
    </div>
    <div>
      <label [ngClass]="{'text-secondary': passwordnumber==true, 'text-danger': passwordnumber==false }" ><i class="fas fa-check-square"></i></label> 
      Password contains number
    </div>
    <div>
      <label [ngClass]="{'text-secondary': passwordspecial==true, 'text-danger': passwordspecial==false }" ><i class="fas fa-check-square"></i></label> 
      Password contains special character
    </div>
    <div>
      <label [ngClass]="{'text-secondary': passwordspaces==true, 'text-danger': passwordspaces==false }" ><i class="fas fa-check-square"></i></label> 
      Password shouldn't contain spaces
    </div>
    <div>
      <label [ngClass]="{'text-secondary': passwordfirstlast==false, 'text-danger': passwordfirstlast==true }" ><i class="fas fa-check-square"></i></label> 
      Password shouldn't contain firstname of lastname
    </div>
    <div>
      <label [ngClass]="{'text-secondary': NewUser.password==NewUser.passwordconfirmation, 'text-danger': NewUser.password!=NewUser.passwordconfirmation }" ><i class="fas fa-check-square"></i></label> 
      The passwords don't match
    </div>

  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-info btn-block me-md-2">Signup</button>
  </div>



</div>